[submodule ".themes/oscailte"]
	path = .themes/oscailte
	url = https://github.com/coogie/oscailte.git
[submodule ".themes/hpstr"]
	path = .themes/hpstr
	url = https://github.com/Z1MM32M4N/hpstr-theme.git
